
@import url('https://fonts.googleapis.com/css?family=Poppins:300,400,500,600');
body { margin: 0px; padding: 0px; color: #545454; line-height: 1.6; font-size: 14px; font-family: 'Poppins', sans-serif; font-weight: 300; }
ul, li { list-style: none; margin: 0px; padding: 0px; }a, a:hover, a:focus, a:active, .btn, .btn:hover, .btn:focus, .btn:active { text-decoration: none; outline: none; -webkit-transition: all 0.3s ease-in-out; -moz-transition: all 0.3s ease-in-out; -o-transition: all 0.3s ease-in-out; -ms-transition: all 0.3s ease-in-out; }
i.material-icons { vertical-align: middle; }
/*--NORMALIZE STYLES--*/
.cls:after { clear: both; content: ""; display: block; }
.container { max-width: 1280px; }
.btn { border-radius: 0px; }
.weight-600 { font-weight: 600; }
/*----TOPBAR----*/
.topbar { background: #2e6ed5; color: #fff; }
.topbar-nav ul li:first-child { margin-left: 0px; }
.topbar-nav ul li { float: left; margin-left: 15px; }
.topbar-nav ul li a { color: #fff; text-transform: capitalize; padding: 5px 0px; display: block; }
.topbar-nav ul li a i { font-size: 18px; }
/*----END TOPBAR----*/
.currency-dropdown .dropdown-menu { /*border: 0px;*/ border-radius: 0px; margin: 0px; padding: 0px; border: 0px; box-shadow: 0px 0px 3px rgba(0,0,0,0.2); }
.currency-dropdown .dropdown-menu li { width: 100%; margin: 0px; border-bottom: 1px solid #f0f0f0; }
.currency-dropdown .dropdown-menu li:last-child { border-bottom: 0px; }
.currency-dropdown .dropdown-menu li a { display: block; padding: 5px 10px; font-size: 14px;  color: #333; }
.currency-dropdown .dropdown-menu li a:hover { background: #2e6ed5; color: #fff; }
/*----END HEADER NAVIGATION----*/
.main-navigation .navbar { padding: 0px 15px; }
.main-navigation .navbar .navbar-brand { padding: 5px 0px; }
.main-navigation .navbar .navbar-brand img { height: 60px; }
.main-navigation .navbar .navbar-nav li a { color: #545454; text-transform: uppercase; font-weight: 300; padding: 24px 15px; }
.main-navigation .navbar .navbar-collapse { margin-right: -15px; }
/*----END HEADER NAVIGATION----*/


.slick-fade-zoom .item { height: 100%;position: relative; z-index: 1; } 
.slick-fade-zoom img { width: 100%;transition: all 1s cubic-bezier(0.7, 0, 0.3, 1); transform: scale(1.2); }  
.slick-fade-zoom .slick-active img { transform: scale(1); }
.slick-fade-zoom .slick-prev { left: 30px; }
.slick-fade-zoom .slick-next { right: 30px; }


.discount-offer-box { height: 90px; border-radius: 8px; color: #fff; background: rgb(255,153,102); background: -moz-linear-gradient(left, rgb(255,153,102) 0%, rgb(255,94,98) 100%); background: -webkit-linear-gradient(left, rgb(255,153,102) 0%,rgb(255,94,98) 100%); background: linear-gradient(to right, rgb(255,153,102) 0%,rgb(255,94,98) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff9966', endColorstr='#ff5e62',GradientType=1 ); background-size: cover !important; background-position: center !important; }
.discount-offer-box h3 { margin-bottom: 5px; font-size: 18px; }
.discount-offer-box p { margin-bottom: 0px; }

.section-row { padding: 40px 0px; }
.five-img-block:first-child { margin: 0px; }
.five-img-block { margin-top: 30px; }
.hover-zoom { overflow: hidden; }
.hover-zoom img{ transition-property: transform; -moz-transition-duration: 0.4s; -o-transition-duration: 0.4s; -webkit-transition-duration: 0.4s; transition-duration: 0.4s; }
.hover-zoom img:hover { -moz-transform: scale(1.1); -ms-transform: scale(1.1); -webkit-transform: scale(1.1); transform: scale(1.1); }


/*----PRODUCT BOX----*/
.products-slider .slick-slide { padding: 0px 2px 5px; }
.pro-box { background: #fff; margin-bottom: 30px; border: 1px solid #ebebeb; }
.pro-box:hover { box-shadow: 0px 0px 5px rgba(0,0,0,0.2); }
.pro-thumb { position: relative; }
.pro-thumb a { display: block; }
.pro-thumb a img { width: 100%; }
.pro-thumb-details { padding: 15px; }
.pro-thumb-details h3 { margin: 0px -15px 10px; }
.pro-thumb-details h3 a { color: #333; font-size: 14px; display: block; text-transform: capitalize; }
.pro-thumb-details .mrp { color: #333; font-weight: 300; text-decoration: line-through; margin-right: 15px; }
.pro-thumb-details .slp { color: #333; font-weight: 500; }
.pro-action { position: absolute; right: 0px; bottom: 0px; left: 0px; text-align: center; background: #fff; opacity: 0; -webkit-transition: all 0.5s; -o-transition: all 0.5s; transition: all 0.5s; -webkit-transform: translateY(100%); -ms-transform: translateY(100%); -o-transform: translateY(100%); transform: translateY(100%); }
.pro-action .btn { border-radius: 0px; margin: 0px; background: #fff; padding: 6px 20px; }
.pro-box:hover .pro-action { opacity: 1; -webkit-transition: all 0.5s; -o-transition: all 0.5s; transition: all 0.5s; -webkit-transform: translateY(1px); -ms-transform: translateY(1px); -o-transform: translateY(1px); transform: translateY(1px);}
/*----END PRODUCT BOX----*/


.light-grey { background: #fafbfc; }
.dark-light-grey { background: #f1f1f1; }
.row-title { margin-bottom: 30px; }
.row-title h2 { display: inline-block; text-transform: uppercase; font-size: 30px; color: #333; padding-bottom: 2px; border-bottom: 4px solid #333; }

.generic-info-section p strong { font-size: 16px; font-weight: 600; }
.generic-info-section p { font-weight: 13px; }
.instagram-wrapper { position: relative; }
.instagram-wrapper img { width: 100%; }
.insta-text-box { width: 400px; color: #333; padding: 30px; background: rgba(255, 255, 255, 0.9); position: absolute; top: 50%; left: 50%; -moz-transform: translate(-50%, -50%); -ms-transform: translate(-50%, -50%); -o-transform: translate(-50%, -50%); -webkit-transform: translate(-50%, -50%); transform: translate(-50%, -50%); z-index: 1; }
.insta-text-box h3 { text-transform: capitalize; font-size: 22px; font-weight: 600; }
.insta-text-box a { display: inline-block; padding: 4px 0px; text-transform: uppercase; color: #322785; font-weight: 600; border-bottom: 2px solid #322785; }
.footer-highlighters-section .col-6 { height: 200px; }
.footer { padding: 40px 0px; border-top: 1px solid #e5e5e5; }
.footer h3 { font-size: 16px; font-weight: 600; color: #333; }
.footer ul li { text-transform: capitalize; }
.footer ul li a { display: block; padding: 5px 0px; color: #696B79; }





/*----OFFCANVAS----*/
@media (max-width: 991.98px) {
.offcanvas-collapse {
position: fixed;
top: 56px; /* Height of navbar */
bottom: 0;
left: 100%;
width: 100%;
padding-right: 1rem;
padding-left: 1rem;
overflow-y: auto;
visibility: hidden;
background-color: #343a40;
transition-timing-function: ease-in-out;
transition-duration: .3s;
transition-property: left, visibility;
}
.offcanvas-collapse.open {
left: 0;
visibility: visible;
}
}
.nav-scroller {
position: relative;
z-index: 2;
height: 2.75rem;
overflow-y: hidden;
}
.nav-scroller .nav {
display: -ms-flexbox;
display: flex;
-ms-flex-wrap: nowrap;
flex-wrap: nowrap;
padding-bottom: 1rem;
margin-top: -1px;
overflow-x: auto;
color: rgba(255, 255, 255, .75);
text-align: center;
white-space: nowrap;
-webkit-overflow-scrolling: touch;
}
.nav-underline .nav-link {
padding-top: .75rem;
padding-bottom: .75rem;
font-size: .875rem;
color: #6c757d;
}
.nav-underline .nav-link:hover {
color: #007bff;
}
.nav-underline .active {
font-weight: 500;
color: #343a40;
}
.text-white-50 { color: rgba(255, 255, 255, .5); }
.bg-purple { background-color: #6f42c1; }
.border-bottom { border-bottom: 1px solid #e5e5e5; }
.box-shadow { box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05); }
.lh-100 { line-height: 1; }
.lh-125 { line-height: 1.25; }
.lh-150 { line-height: 1.5; }
/*----END OFFCANVAS----*/


.filter-widget-box { padding: 25px 20px; border: 1px solid #ebebeb; }
.filter-widget-box h3 { text-transform: uppercase; font-size: 16px; font-weight: 600; border-bottom: 1px solid #ebebeb; padding-bottom: 10px; margin-bottom: 20px; }

/*----RANGE SLIDER----*/
.filter-widget-box .ui-slider-horizontal { height: 10px; border-radius: 10px; }
.filter-widget-box .ui-widget-header { background: #2e6ed5; }
.filter-widget-box .ui-state-default { background: #fff !important; display: block; height: 20px !important; line-height: 20px; margin: 0; text-align: center; top: 50% !important; width: 20px !important; -webkit-border-radius: 100%; -moz-border-radius: 100%; border-radius: 100%; -webkit-transform: translate(0,-50%); -moz-transform: translate(0,-50%); transform: translate(0,-50%); -webkit-box-shadow: 0px 0px 10px rgba(0,0,0,0.2); -moz-box-shadow: 0px 0px 10px rgba(0,0,0,0.2); box-shadow: 0px 0px 10px rgba(0,0,0,0.2); }
.filter-widget-box .ui-state-default.ui-state-hover, .filter-widget-box .ui-state-default.ui-state-active  { background: #fff; }

.filter-widget-box .range-form-control { background: #fff; border: 0px; font-weight: 600; font-size: 16px; }
/*----END RANGE SLIDER----*/
.btn-royal-blue { background: #2e6ed5; color: #fff; }
.btn-royal-blue:hover { background: #0951c5; }

.filter-widget-box .custom-checkbox { margin-bottom: 10px; }
.filter-widget-box .custom-checkbox:last-child { margin-bottom: 0px; }
.filter-widget-box .custom-checkbox .custom-control-label { display: block; cursor: pointer; text-transform: capitalize; }

.filter-widget-inner-box { max-height: 200px; overflow-y: auto; }
.page-meta { padding: 40px 0px; border-bottom: 1px solid #ebebeb; }
.page-meta h1 { text-transform: uppercase; font-size: 34px; color: #333; }
.page-meta .breadcrumb { padding: 0px; margin-bottom: 0px; background:none; justify-content: center; }
.page-meta .breadcrumb li a { color: #333; }
.page-meta .breadcrumb-item.active { color: #2e6ed5; font-weight: 600; }
.breadcrumb-item + .breadcrumb-item:before { font-weight: 300; }
.pro-result-count p { margin-bottom: 0px; line-height: 40px; }
.pro-result-filter { width: 200px; }
.pro-result-filter .form-control { font-size: 14px; text-transform: capitalize; }
.pro-loader span { font-weight: 600; }


/*----PRODUCT DETAIL PAGE----*/
.pro-images-thumbnails { margin: 20px 0px 0px; }
.pro-images-thumbnails ul li:first-child { margin-left: 0px; }
.pro-images-thumbnails ul li { width: 80px; margin: 0px 0px 10px 10px; }
.pro-images-thumbnails ul li a { display: block; }
.pro-images-thumbnails ul li a img { width: 100%; }
/*----END PRODUCT DETAIL PAGE----*/
.pro-detail-container .product-tilte { font-size: 26px; text-transform: capitalize; color: #333; margin-bottom: 20px; }
.pro-detail-container { font-size: 16px; }
.pro-detail-container .mrp { font-size: 16px; margin-right: 15px; text-decoration: line-through; }
.pro-detail-container .slp { font-size: 16px; color: #333; font-weight: 500; }
.qty-box label { margin-bottom: 0px; text-transform: capitalize; }
.qty-box .input-group { width: 130px; }
.qty-box .input-group .input-group-prepend:last-child { margin-left: -1px; }
.qty-box .input-group .btn.focus, .qty-box .input-group .btn:focus, .qty-box .input-group .form-control:focus { box-shadow: none; }
.btn-outline-secondary:not(:disabled):not(.disabled).active:focus, .btn-outline-secondary:not(:disabled):not(.disabled):active:focus, .show > .btn-outline-secondary.dropdown-toggle:focus { background: #dcdcdc; color: #333; box-shadow: none; }
.qty-box .form-control { height: 50px; background: #f5f5f5; border: 0px; }
.qty-box .btn { border-radius: 0px; border: 0px; background: #f5f5f5; width: 40px; }
.qty-box .btn:hover { background: #dcdcdc; color: #333; }
.add-to-cart-btn { width: 180px; height: 50px; }
.add-to-wishlist-btn { width: 180px; height: 50px; }

.product-details-tab .nav-tabs { border: 0px; margin-bottom: 0px; }
.product-details-tab .nav-tabs li a { text-transform: uppercase; color: #9e9e9e; font-weight: 600; font-size: 16px; border: 0px; padding: 12px 30px; }
.product-details-tab .nav-tabs li a.active { color: #333; background: none; }
.product-details-tab .tab-pane { margin-top: 1px; }
.product-details-tab .tab-pane p { font-size: 14px; line-height: 2; }
.product-details-tab .tab-pane .table { border: 1px solid #ddd; }
.table-striped tbody tr { background: #fff; }

.social-icons ul li { float: left; margin: 0px 15px 0px 0px; }
.social-icons ul li a { display: block; width: 44px; height: 44px; line-height: 44px; border-radius: 50%; text-align: center; background: none; fill: #333; }
.social-icons ul li a svg { height: 20px; }
.social-icons ul li.fb a:hover { background: #3c5a99; fill: #fff; }
.social-icons ul li.insta a:hover { background: #5657cd; fill: #fff; }
.social-icons ul li.twitter a:hover { background: #00b9f3; fill: #fff; }